.root {
  background-color: #161513;
}
.FooterWrapper {
  padding-top: 60px;
}
.FooterHead {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  border-top: 1px solid #4c4c4b;
}
.FooterBottom {
  padding-bottom: 30px;
}
.FooterBrand {
}
.FooterLinks {
}
.FooterCredit {
}
.FooterLinkList {
  display: flex;
  list-style: none;
}
.FooterLinkListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
.FooterBrandName {
    color: #FFFFFF;
    font-family: Bai Jamjuree;
    font-size: 1.8em;
    font-weight: 700;
}
