.root {
  background-color: #1c1c22;
}
.AboutContainer {
}

.CatHeader {
  display: flex;
  flex-direction: row;
}

.AboutTitleText {
  font-size: 2.5em;
  line-height: 1.3em;
  font-family: Bai Jamjuree;
  margin: 0px;
  padding-top: 10px;
}
.AboutHeader {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.AboutHeaderLeft {
  width: 40%;
  align-items: start;
}
.AboutHeaderRight {
  width: 60%;
}
.AboutBio {
  display: flex;
  margin-right: 10px;
  margin-left: 0px;
  flex-direction: row;
  align-items: start;
  margin-top: 0px;
}
.AboutCountWarpper {
  display: flex;
  align-content: space-evenly;
  justify-content: space-between;
  margin-top: 20px;
}
.AboutBioLeft {
  width: 50%;
  padding: 0px 20px 0px 0px;
}
.AboutBioRight {
  width: 50%;
  margin: 0px;
}
.AboutCountItem {
}
.AboutCountNumber {
  background-image: linear-gradient(90deg, #b16cea 0%, #ff5e69 25%, #ff8a56 50%, #ffa84b 100%);
  // background-color: transparent;
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Bai Jamjuree;
  font-weight: 900;
  font-size: 3em;
  margin: 0px;
}
.AboutFeatured {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-bottom: 80px;
}
.AboutFeaturedBox1 {
  height: 600px;
  width: 24%;
}
.AboutFeaturedBox2 {
  height: 600px;
  width: 48%;
}
.AboutFeaturedBoxSub {
  height: 600px;
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.AboutFeaturedBoxSub1 {
}
.AboutFeaturedBoxSub2 {
}
.AboutFeaturedImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}
.AboutFeaturedImgSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}
.AboutFeaturedImgSmallBox {
  flex-grow: 1;
}
