.root {
  background-color: #1c1c22;
}
.AboutContainer {
}

.CatHeader {
  display: flex;
  flex-direction: row;
}

.AboutTitleText {
  font-size: 2.5em;
  line-height: 1.3em;
  font-family: Bai Jamjuree;
  margin: 0px;
  padding-top: 10px;
}
.AboutHeader {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.AboutHeaderLeft {
  width: 35%;
  align-items: start;
}
.AboutHeaderRight {
  width: 65%;
}
.AboutBio {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: row;
  align-items: start;
}
.AboutCountWarpper {
  display: flex;
  align-content: space-evenly;
  justify-content: space-around;
  margin-top: 20px;
}
.AboutBioLeft {
  width: 50%;
  padding: 10px;
}
.AboutBioRight {
  width: 50%;
  padding: 10px;
}
.AboutCountItem {
}
.AboutCountNumber {
  background-image: linear-gradient(90deg, #b16cea 0%, #ff5e69 25%, #ff8a56 50%, #ffa84b 100%);
  // background-color: transparent;
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: Bai Jamjuree;
  font-weight: 900;
  font-size: 3em;
  margin: 0px;
}
